@mixin fontface($font_name, $font_path, $font_weight, $font_style:normal) {
  @font-face {
    font-family: $font_name;
    font-style: $font_style;
    font-weight: $font_weight;
    src: url($font_path);
  }
}

@include fontface('Nunito','../assets/fonts/Nunito/Nunito-ExtraLight.ttf', 100);
@include fontface('Nunito','../assets/fonts/Nunito/Nunito-Bold.ttf', 700);
@include fontface('Nunito','../assets/fonts/Nunito/Nunito-Regular.ttf', 400);
