* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
}

body {
  background: lightgrey;
}

h1, h2, h3, h4 {
  font-size: 1.35rem;
  font-weight: 400;
}

.canvas {
  background-color: white;
  margin: 0 auto 10px auto;
  display: flex;
  align-items: center;
  border: 1px solid black;
  width: 660px;
  max-width: calc(100% - 30px);
}

.scale-canvas {
  height: auto;
  width: 100%;
  max-width: unset;
  background-color: $base-color;
  border-radius: 8px;
  margin: 10px 0 0;
}
