.container {
  width: 100%;
  max-width: 640px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &.scale-canvas {
    padding: 0;
  }
}
