header {
  background-color: #2f3640;
  margin-bottom: 20px;

  .title {
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    margin: 10px 0 10px auto;
    display: block;
  }
}
