.progression {
  position: relative;
  margin-bottom: 20px;

  &.hidden {
    display: none;
  }

  .chord {
    cursor: pointer;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  &__title {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-align: center;
    margin: 0 auto 10px;
    display: block;
    color: $base-color;
  }

  &__chords {
    height: 120px;
    width: calc(50% - 10px);
    background-color: $base-color;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__chords-title {
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
  }

  &__chords-basic,
  &__chords-diatonic {
    color: #FFFFFF;
    text-align: center;
  }
}
