.select-root {
  display: flex;
  flex-direction: column;
  max-width: 520px;
  width: 100%;

  &__title {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-align: center;
    margin: 0 auto 10px auto;
    display: block;
    color: #2f3640;
  }

  &__up,
  &__down {
    display: flex;
    flex-direction: row;
  }

  &__item {
    flex: 1;
    height: 40px;
    margin: 3px;
    background-color: #2f3640;
    border: 2px solid #2f3640;
    border-radius: 8px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;

    &:first-child {
      margin: 3px 3px 3px 0;
    }

    &:last-child {
      margin: 3px 0 3px 3px;
    }

    &.active {
      border: 2px solid #2f3640;
      background-color: #FFFFFF;
      color: #2f3640;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
