.scale {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px auto 0;
  color: #2f3640;

  &__title {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-align: center;
    margin: 0 auto 10px auto;
    display: block;
  }

  &__output {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-align: center;
    letter-spacing: 3px;
    margin: 0 auto 10px auto;
    padding-left: 4px;
    display: block;
  }
}
